.brand-logo {
  margin-left: 10px;
}

.btn {
  height: 3em;
}

.FormError {
  color: red;
}

.FormSuccess {
  color: green;
}

.question-col {
  width: 300px;
}

.nav-wrapper {
  margin-top: 5px;
}

td {
  padding: 5px 5px;
}